blinker
cachelib
charset-normalizer
click
colorama
dnspython
docx2pdf
et_xmlfile
Flask
Flask-Login
Flask-Mail
Flask-Session
Flask-Sitemap
Flask-SQLAlchemy
flask-talisman
Flask-WTF
greenlet
itsdangerous
Jinja2
lxml
MarkupSafe
msgspec
mysql-connector-python
mysqlclient
numpy
openpyxl
pandas
pdf2image
pillow
pypdf
python-dateutil
python-docx
python-dotenv
reportlab
six
SQLAlchemy
tqdm
typing_extensions
tzdata
Werkzeug
WTForms
xlrd
