blinker
click
colorama
et_xmlfile
Flask
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
mysqlclient
numpy
openpyxl
pandas
python-dateutil
python-dotenv
six
SQLAlchemy
typing_extensions
tzdata
Werkzeug
WTForms
xlrd
