{%extends "base.html"%}

{%block title%}Home{%endblock%}

{%block content%}
<div class="card" style="width: 18rem;">
  {% if student.image %}
  <img src="{{ url_for('static', filename='uploads/' + student.image) }}" class="card-img-top" alt="...">
  {% else %}
  <p>Tidak ada gambar</p>
  {% endif %}

  <div class="card-body">
    <h5 class="card-title">{{student.name}}</h5>
    <p class="card-text">Kelas : {{student.kelas}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">NISN : {{student.nisn}}</li>
    <li class="list-group-item">NIS : {{student.nis}}</li>
    <li class="list-group-item">Tanggal Lahir : {{student.tanggal_lahir}}</li>
    <li class="list-group-item">Tanggal Lahir : {{student.tanggal_lahir}}</li>
  </ul>
  <div class="card-header">
    Alamat : {{student.alamat}}
  </div>
  {%if user.is_authenticated%}
  <div class="card-body">
    <a href="{{ url_for('auth.update_data_student', id=student.id) }}" class="btn btn-sm btn-primary">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <button type="button" class="close" onclick="deleteStudent({{student.id}})">
            <i class="fa-solid fa-trash"></i>
        </button>
  </div>
  {%endif%}
</div>
{%endblock%}